apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

commonLabels:
  app: wordpress-challenge

resources:
- deployments/wordpress.yaml
- deployments/wordpress-db.yaml
- services/wordpress.yaml
- services/wordpress-db.yaml
- routes/wordpress.yaml
- root-creds.yaml
